.navbar {
  padding: 0 10rem;
  background-color: var(--white) !important;
  box-shadow: 0 2px 10px var(--black);
  border-bottom: 4px solid var(--secondaryColor);
  font-size: 2rem;
  background-color: var(--white) !important;
}

.logo {
  width: 10rem;
}

.navbar-nav ul {
  font-size: 1.6rem;
}

.nav-item a {
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 0.2rem;
  color: var(--primaryColor);
}

.nav-item a:hover {
  color: var(--black) !important;
}

.nav-item:not(:last-child) {
  padding-right: 2rem;
}

.selected {
  color: var(--secondaryColor) !important;
}

@media (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    justify-content: flex-end;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 1rem 5rem;
  }

  .logo {
    width: 5rem;
    height: 100%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .navbar-nav ul {
    font-size: 1.4rem;
  }
}
