*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

:root {
  --primaryColor: #696969;
  --secondaryColor: rgb(13, 110, 253);
  --tertiaryColor: rgb(248, 216, 59);
  --tertiaryColor-dark: rgb(82, 117, 12);
  --tertiaryColor-dark: rgb(88, 38, 20);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --offWhite: rgb(233, 233, 233);
  --transition: all 0.3s;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  letter-spacing: 0.4rem;
  color: #545454;
  background-color: rgb(223, 223, 223) !important;
}
